$primary-pale: #CFD8DC;
$primary-text: #212121;
$primary-initial: #607D8B;
$initial-darker: #01579B;
$initial-pale: #E1F5FE;
$primary: #4CAF50;
$primary-darker: #2E7D32;

$title-height: 18rem;
$title-height-landscape: 12rem;

$bike-size: 6rem;

$left-stop: 3rem;

body {
  font-family: 'Roboto Slab', serif;
  background: #212121;
}

h4, h6 {
  margin: 0;
  text-align: left;
  padding-left: $left-stop;
}

h4 {
  line-height: 10rem;
}

h6 {
  background: $primary-pale;
  color: $primary-text;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $title-height;
  background: $initial-darker;
  font-size: 4.5rem;
  line-height: 8rem;
  color: white;
  text-align: center;
}

.location {
  &::before {
    content: url('../img/location.svg');
    height: 4rem;
    width: 4rem;
    float: right;
    position: absolute;
    right: 1rem;
    line-height: 8rem;
    margin: 1rem;
  }
}

.results {
  position: absolute;
  top: $title-height;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 8rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  line-height: 12rem;
  background: url("../img/docks-oil-1200.png") no-repeat center;
  background-size: cover;
  opacity: 0;
  animation: fade-in .3s ease-in forwards;

  & button {
    border-radius: 50%;
    background: $primary;
    height: 14rem;
    width: 14rem;
    border: none;
    outline: none;
    line-height: 0;
    box-shadow: .4rem .4rem 1rem 0 rgba(0, 0, 0, .4);
  }
}

.bike {
  width: $bike-size;
  height: $bike-size;
  fill: $initial-pale;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#spaces, #bikes {
  opacity: 0;
  color: white;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, .7);
  animation: fade-in .4s ease-in forwards;
}

@mixin label-backgrounds {
  font-size: 4rem;
  color: white;
  position: absolute;
  left: 0;
  padding-left: $left-stop;
  padding-right: 5rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%);
}

#spaces {
  &::before {
    content: 'Spaces';
    @include label-backgrounds;
  }
}

#bikes {
  &::before {
    content: 'Bikes';
    @include label-backgrounds;
  }
}

@media (orientation: landscape) {
  header {
    font-size: 4rem;
    height: $title-height-landscape;
    line-height: $title-height-landscape;
  }
  h4, h6 {
    line-height: 6rem;
  }
  .results {
    top: $title-height-landscape;
    flex-direction: row;
  }
  #spaces, #bikes {
    width: 16rem;
    background: transparent;
    &::before {
      padding: 0;
      background: transparent;
      margin-top: 6rem;
    }
  }
  .location {
    &::before {
      line-height: 6rem;
    }
  }
}
